.formLocation{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: auto;
    gap: 8px;
}
.icon{
    fill: black;
    position: absolute;
    top: 18px;
    left: 20px;

}
.locationLabel{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #6c717b;
    margin: 0;
}

.locationWrapper{
    position: relative;
    margin-bottom: 40px;
}

.locationInput{
    border-radius: 12px;
    width: 360px;
    height: 56px;
    background-color: #f7f7f7;
    border: #f7f7f7;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
    padding-left: 41px;
}

.title{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #475467;
        margin-top: 40px;
        margin-bottom: 32px;
        
}

.titleCheckbox{
    font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: #101828;
        margin-top: 32px;
        margin-bottom: 48px;

}

.containerCheckbox{
width: 360px;
height: 272px;
}

.checkbox {
    width: 360px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkboxInput {
    display: none;
    /* Скрыть стандартный чекбокс */
    cursor: pointer;
}

.iconCheckbox{
margin-bottom: 5px;
}
/* Стили для кастомного чекбокса */
.customCheckbox {
    border: 1px solid #dadde1;
        /* Стандартный бордер */
        border-radius: 12px;
        width: 112px;
        height: 96px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        text-align: center;
        color: #101828;
        display: flex;
        /* Центрируем содержимое */
        flex-direction: column;
        /* Вертикальное расположение иконки и текста */
        align-items: center;
        /* Центрируем текст по горизонтали */
        justify-content: center;
        /* Центрируем текст по вертикали */
        transition: border 0.3s;
        /* Плавный переход для бордера */
}

/* Стили при выборе чекбокса */
.checkboxInput:checked+.customCheckbox {
    border: 1px solid #e44848;
    /* Бордер при чекнутом состоянии */
}

/* Стили при фокусе на чекбоксе */
.checkboxInput:focus+.customCheckbox {
    border: 1px solid #e44848;
    /* Бордер при фокусе */
}

.containerRadiobtn{
    width: 360px;
    height: 168px;
}

.radioBtn{
    width: 360px;
    height: 96px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.btn{
    border-radius: 200px;
        padding: 16px 60px;
        width: 166px;
        height: 56px;
        background-color: #e44848;
        margin-top: 40px;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: -0.01em;
            color: #fff;
}