.formLocation{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 88px;
    gap: 8px;
}

.locationLabel{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #6c717b;
    margin: 0;
}

.locationInput{
    border-radius: 12px;
    padding: 18px 218px 18px 20px;
    width: 360px;
    height: 56px;
    background-color: #f7f7f7;
    border: #f7f7f7;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
}

.title{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #475467;
        margin-top: 40px;
}

.titleCheckbox{
    font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: #101828;
        margin-bottom: 32px;

}

.containerCheckbox{
width: 360px;
height: 272px;
}

.checkbox{
    width: 360px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

}
.checkboxLabel{
    display: flex;
    align-items: center;
    cursor: pointer;
        
}
.checkboxInput{
    display: none;
}

.customCheckbox{
    border: 1px solid #e44848;
        border-radius: 12px;
        width: 112px;
        height: 96px;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: -0.01em;
            text-align: center;
            color: #101828;

}