.card{
    border: 1px solid #dadde1;
    border-radius: 20px;
    padding: 24px;
    width: 100%;
    max-width: 888px;
    height: auto;
    background: #fff;
    margin-bottom: 32px;
    /* padding: 24px; */
}

.containerContent{
    display: flex;
    gap: 24px;
}

.img{
    border-radius: 10px;
    width: 292px;
    height: 320px;
    object-fit: cover;
    flex-shrink: 0;
}

.titleCard{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #101828;
    width: 100%;
    margin-bottom: 8px;
}

.details{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.iconCheckbox{
    margin-right: 4px;
}

.reviews{
    margin-right: 16px;
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
    margin-bottom: 24px;
    width: 100%;
}

.bagesContainer{
    width: 100%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.iconBages{
    margin-right: 4px;
}

.bages{
    border-radius: 100px;
    padding: 12px 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #101828;
    flex-grow: 1;
    background-color: #f2f4f7;
           
}

.btn{
    border-radius: 200px;
    width: 166px;
    height: 56px;
    background: #e44848;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #fff;
    margin-top: 24px;
    align-self: flex-start;
}

