.container{
    background-image: url(../../img/Picture.png);
    width: 1440px;
    height: 696px;
}

.title{
    padding-top: 260px;
    padding-left: 64px;
}

.heroText{
    font-weight: 600;
    font-size: 48px;
    line-height: 0.66667;
    color: #f7f7f7;
    margin-bottom: 16px;

}

.heroParagraph{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #f7f7f7;

}

.btn{
    border-radius: 200px;
    width: 173px;
    height: 56px;
    background-color: #e44848;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #fff;

}