.container{
    margin: 48px 64px;
    width: 1440px;

}

.tittle{
font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #101828;
}
.details{
    display: flex;
    gap: 16px;
}

.reviews{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #101828;
        
}

.location{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #101828;
        
}

.price{
    font-weight: 600;
        font-size: 24px;
        line-height: 1.33333;
        color: #101828;
        margin-top: 16px;
}

.imgContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    margin-top: 28px;
    

}

.img{
    border-radius: 10px;
    width: 292px;
    height: 312px;
    object-fit: cover;
}

.description{
    font-size: 16px;
        line-height: 1.5;
        color: #475467;
        margin-top: 28px;
}

.btn{
font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    background-color: #fff;
    margin-top: 60px;
}

.containerInfo{
    display: flex;
    gap: 40px;
}